

td:nth-child(1) {
    background-color: gray;
    color: black;
}

tr:nth-child(odd) {
    background-color: black;
    color: white;
}

tr:nth-child(even) {
    background-color: lightgray;
}

.Table-Header {
    background-color: gray;
    color: black;
}
